<header>
  <!-- topbar -->
  <div class="top-header-bar">
    <div class="container">
      <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
        <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
          <div class="header-bar-email">
            EMAIL: <a href="mailto:ataxias@atar.org.ar" target="_blank">ataxias@atar.org.ar</a>
          </div><!-- .header-bar-email -->
          <div class="header-bar-text">
            <p>TELÉFONO: <span>(011) 4585-1290 de lunes a viernes de 18 a 22Hs</span></p>
          </div><!-- .header-bar-text -->
        </div><!-- .col -->
        <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
          <div class="donate-btn">
            <a href="https://donaronline.org/atar/ayudanos-colabora-con-lo-que-puedas" target="_blank">Colaborá</a>
          </div><!-- .donate-btn -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .top-header-bar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">
      <img src="/assets/img/atar.png" width="200" height="70" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="/centros"
          #rla="routerLinkActive"
          [active]="rla.isActive" 
          routerLinkActive #rla="routerLinkActive">Centros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Asociarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Asociación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contacto</a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="">Iniciar sesión</a>
        </li>
      </ul>
    </div><!-- .col -->
  </nav><!-- .nav-bar -->
</header>